body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(160, 147, 134);
    overflow-x: hidden; /* Prevent horizontal scrolling */
}


.header {
    background-color: rgb(32, 28, 24);
    color: rgb(223, 212, 212);
    padding: 5px;
    text-align: left;
    padding-left: 30px;
}

.nav {
    list-style-type: none;
    padding: 0;
    margin-left: 85%;
}

.nav li {
    display: inline;
    margin-right: 20px;
}

.nav a {
    font-family: fantasy;
    color: rgb(160, 147, 134);
    text-decoration: none;
    font-weight: 400;
}

.search-container {
    text-align: left;
    padding: 1px;
}

/*.search-bar {
    margin-left: 35%;
    width: 45%;
    padding: 8px;
    border: none;
    border-radius: 10px;
    margin-right: 2px;
}*/

/*.search-button {
    background-color: rgb(98, 82, 67);
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
    margin-right: 80px;
}*/

.container {
    margin: 50pt 50pt;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.content {
    display: flex;
    align-items: center;
    padding: 20px;
}

.text-field {
    font-size: large;
    flex: 1 1 auto;
    padding: 5px;
    line-height: 0.2;   
    min-width: 200px;
}

p {
    font-family: 'Apple Chancery', cursive;
}

.welcome {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}

.tag {
    margin-top: 20px;
    line-height: 0.2;
    margin-bottom: 20px;
}

.image {
    flex: 1;
    width: 100%;
    text-align:right;
    min-width: 200px;
}

.image img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

#about{
    text-align: center;
}
#about h1{
    font-family: fantasy;
}
#about p{
    font-family: Cookie;
    font-size: x-large;
}

/*.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: rgb(32, 28, 24);
    color: rgb(223, 212, 212);
    text-align: center;
    padding: 20px;
    font-family: fantasy;
}*/

.footer {
    background-color: rgb(32, 28, 24);
    color: rgb(223, 212, 212);
    padding: 30px 0;
    font-family: Arial, sans-serif;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-section {
    flex: 1 1 250px;
    margin-bottom: 20px;
}

.footer-section.contact {
    flex: 1 1 250px;
    margin-left: 160px; 
    margin-right: 140px;
}

.footer-section.follow-us h4 {
    margin-left: 15px;
}

.footer-section.follow-us .social-icons {
    text-align: left;
}

.footer-section.follow-us .social-icons li {
    display: inline-block;
    margin-right: 10px;
}

.footer-section.follow-us .social-icons li img {
    width: 30px;
    height: auto;
}



.footer-section p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section h4 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section ul {
    padding: 0;
    list-style: none;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: rgb(223, 212, 212);
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
}



.title {
    font-weight: 700;
    font-size: 48px;
    font-family: Impact, fantasy;
    color: rgb(32, 28, 24);
}

.get-started-button {
    background-color: rgb(32, 28, 24);
    color:rgb(223, 212, 212) ;
    border: none;
    border-radius: 10px;
    padding: 15px 40px;
    cursor: pointer;
}